.main-part{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50%;
  margin-bottom: 50%;
}

.distance{
  display: none;
}
.showDisplay{
  display: block;
  color: red;
}
