.mainPart{
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  background-image: url('HLL.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.mainPart h1{
  color: #b4b6a9;
  font-size: 40px;
  font-style: bold;
}

.distance {
  display: none;
}

.showDisplay {
  display: block;
  color: #ff2f39;
  text-align: center;
}
